.Rproj.user
.Rhistory
.RData
*.RData
.Ruserdata
.DS_Store
.Rda
*.Rda
*.csv
*.rds
*.iml
*.xml
*.pdf
*.png
*.txt
*.icloud
*.xls
*.xlxs
/Users/helen/Desktop/Masteroppgave/Masters-thesis/Master Thesis Code/Workspaces/
